* {
    font-family: 'Noto Sans JP', sans-serif;
    /* font-size: 1em; */
}

html {
    font-size: 16px;
}

table {
    line-height: 1.8em;
}

th {
    white-space: nowrap;
}

pre {
    overflow-x: scroll;
}

/* 各リスト項目のパディング設定 */
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
}

/* リスト全体の背景 */
.ui-widget-content {
    border: 1px solid #666 !important;
    background: white !important;
}

/* リスト hover 時のカラー */
.ui-state-active {
    border: 1px solid hsl(171, 100%, 41%) !important;
    background: hsl(171, 100%, 41%) !important;
    font-weight: bold !important;
    color: #ffffff;
}

.ui-helper-hidden-accessible {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: pre-wrap;
    /* 複数行をサポート */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.material-icons {
    font-family: 'Material Icons';
}

.material-icons.outlined {
    font-family: 'Material Icons Outlined';
}

/* アイコンのサイズを変更するためのルール */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* 明るい背景の場合に黒色でアイコンを表示するためのルール */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* 暗い背景の場合に白色でアイコンを表示するためのルール */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/* 長文を制限する */

.limit-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.limit-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.limit-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.limit-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.limit-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}